{% extends "layout.njk" %}

{% block head %}
  <title>About</title>
{% endblock head %}

{% block content %}
  <main>
    <img src="./rocketseat.jpeg" alt="Logo Rocketseat">
    <h1>Rocketseat</h1>
    <h2>Seu ecossistema para aprender e evoluir na programação</h2>
    <ul>
      <li>React</li>
      <li>React Native</li>
      <li>Node</li>
      <li>Flutter</li>
      <li>Elixir</li>
    </ul>
  </main>
  <footer>
    <div class="links">
      <a href="https://github.com/Rocketseat" target="_blank">Github</a>
      <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
      <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
    </div>
  </footer>
{% endblock content %}

