{% extends "layout.njk" %}

{% block head %}
  <title>Courses</title>
  <script src="/scripts.js" defer></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock head %}

{% block content %}
  <section>
    <h1>Cursos</h1>
    <div class="cards">
      {% for course in courses %}
        <div class="card" id="{{course.id}}">
          <div class="card__image-container">
            <img src="{{course.image_url}}" alt="Imagem do curso">
          </div>
          <div class="card__title-container">
            <p>{{course.title}}</p>
          </div>
          <div class="card__info">
            <p class="author">{{course.author}}</p>
            <p class="card__time">{{course.duration}}</p>
          </div>
        </div>

      {% endfor %}
    </div>
  </section>
{% endblock content %}
