{% extends "layout.njk" %}

{% block head %}
  <title>Not-Found</title>
{% endblock %}

{% block content %}
  <main>
    <div id="description">
      <img src="https://pbs.twimg.com/profile_images/1291682473592659968/sEorc6oh.jpg" alt="Logo Rocketseat">
      <h1>404 - Not Found</h1>
      <h2>Página não encontrada</h2>
    </div>
  </main>
    
{% endblock %}