{% extends "layout.njk" %}

{% block content %}
  <div div class="not-found">
    <h1>Nenhuma página encontrada na url informada :/</h1>
    <a href="/">Clique aqui para ir para a página inicial</a>
  </div>
{% endblock content %}
